.music {
	text-align: center;
	background-color: #111111;
	height: 100vh;
	color: white;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.youtube {
	width: 80%;
	height: 90%;
	align-self: center;
	margin-bottom: 2em;
}

.spotify {
	width: 80%;
	height: 80%;
	align-self: center;
}
/* .spotifyPlayer {
	width: 90%;
	height: 90%;
}

.embeddedvideo {
	margin-top: 2em;
	margin-bottom: 2em;
	width: 90%;
	height: 90%;
}
*/
@media screen and (max-width: 991px) {
	.youtube {
		width: 100%;
	}
	.spotify {
		width: 100%;
	}
}
