.music {
	text-align: center;
	background-color: #111111;
	height: 100vh;
	color: white;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

.youtube {
	width: 80%;
	height: 90%;
	align-self: center;
}

.spotify {
	width: 80%;
	height: 90%;
	align-self: center;
	margin-bottom: 2em;
}

@media screen and (max-width: 991px) {
	.music {
		height: auto;
		padding-top: 0vh;
	}
	.youtube,
	.spotify {
		width: 100%;
	}
}
