.music {
}

.spotify {
	width: 80%;
	height: 90%;
	align-self: center;
	margin-bottom: 2em;
}

@media screen and (max-width: 991px) {
	.music {
		/* height: auto; */
		padding-top: 0vh;
		height: 50vh;
	}
	.spotify {
		width: 95%;
		height: 40vh;
	}
}
