.merch {
	background-color: #111111;
	color: white;
	height: 100vh;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.merchItemImage {
	height: 200px;
	width: 200px;
}

.merchList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	align-self: center;
	flex-wrap: wrap;
}
.merchContainer {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.merchLink {
	color: #fff;
	font-family: 'Alata', sans-serif;
	text-decoration: none;
	font-size: medium;
}

@media screen and (max-width: 991px) {
	.merch {
		height: auto;
	}
	.merchContainer {
		padding-bottom: 1em;
	}
	.merchList {
		flex-direction: column;
	}
	.merchItemImage {
		width: 80vw;
		height: auto;
	}
}
