.showcase {
	background-color: #111111;
	padding-top: 10vh;
	width: 100vw;
}

.banner {
	width: 100vw;
	height: 80vh;
}
/* These are added for the tag above the image  */
.container {
	position: relative;
}
.tag {
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: #92ad40;
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.banner {
		height: auto;
	}
}
