.TopNav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #111111;
	position: fixed;
	z-index: 1000;
}
.brand {
	font-size: 32px;
}

.navLink {
	color: #fff;
	text-decoration: none;
	padding: 24px;
	font-family: 'Alata', sans-serif;
}
.navLink:hover {
	color: #535c68;
}

.logo {
	height: 1.5em;
}

@media screen and (max-width: 991px) {
	.navLink {
		display: none;
	}
}
