/* .TopNav {
	background-color: #111111;
	height: 4em;
	width: 100vw;
	padding-top: 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} */
/* .brand {
	color: white;
} */

.TopNav {
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #111111;
	position: fixed; /* Set the navbar to fixed position */
	width: 100%;
}
.brand {
	font-size: 32px;
	color: #beddef;
}

a {
	color: white;
	text-decoration: none;
	padding: 24px;
}

a[id='tour']:target ~ #main article.panel {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.logo {
	height: 1.5em;
}

@media screen and (max-width: 991px) {
	.navLink {
		display: none;
	}
}
