.videos {
}

.youtube {
	width: 80%;
	height: 90%;
	align-self: center;
}

@media screen and (max-width: 991px) {
	.videos {
		height: auto;
		padding-top: 0vh;
	}
	.youtube {
		width: 95%;
		height: 30vh;
	}
}
