@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
html {
	scroll-behavior: smooth;
}
.App {
	text-align: center;
}
.title {
	font-family: 'Alata', sans-serif;
	font-size: 2em;
}
