@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
html {
	scroll-behavior: smooth;
}
.App {
	text-align: center;
}
.title {
	font-family: 'Alata', sans-serif;
	font-size: 2em;
}
.section {
	background-color: #111;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
	height: 100vh;
	padding-top: 10vh;
}
