.tour {
	height: 100vh;
	background-color: #111111;
	color: #fff;
	padding-top: 2em;
	padding-top: 10vh;
	align-content: center;
	text-align: center;
}

.tourdates {
	align-self: center;
	display: flex;
	flex-direction: column;
}

.tourdate {
	width: 80vw;
	align-self: center;
}
