.tour {
	height: auto !important;
}
.container {
	padding-left: 10%;
	padding-right: 10%;
}
.bandsintownwidget {
	align-content: center;
}
@media screen and (max-width: 991px) {
	.container {
		padding-left: 0%;
		padding-right: 0%;
	}
}
